<h2 class="titulo mt-2">Datos de la visita</h2>
<div class="row">
    <div class="col-lg-4 col-sm-4 col-8 mb-2">
        <label for="inputDNI" class="form-label"><b>DNI</b></label>
        <input #inputDNI type="number" id="inputDNI" class="form-control" placeholder="Ingrese DNI" aria-describedby="dniError">
        <div id="dniError" class="text-danger" *ngIf="dniError">
            Debe ser un número de 8 dígitos. Si su DNI es de 7 dígitos debe agregarle el 0 delante.
        </div>
    </div>
    <div class="col-lg-2 col-sm-3 col-3 mb-2 btn-container">
        <button class="btn btn-warning btn-consultar" (click)="obtenerNombreyApellido(inputDNI.value)">Consultar</button>
    </div>
    <div class="col-lg-6 col-sm-4 col-12 mb-12">
        <label for="nombre" class="form-label"><b>Nombre y apellido</b></label>
        <div id="nombre" class="texto">{{nombre}}</div>
    </div>
</div>
<hr>
<div class="row mb-2">
    <div class="col-lg-4 col-sm-4 col-12 mb-2">
        <label for="inputNroIngreso" class="form-label"><b>Nro. de tarjeta de ingreso</b></label>
        <input #inputNroIngreso type="number" id="inputNroIngreso" class="form-control" placeholder="Ingrese número" aria-describedby="nroIngresoError">
        <div id="nroIngresoError" class="text-danger" *ngIf="nroIngresoError">
            Debe ser un número de 8 dígitos.
        </div>
    </div>
    <div class="col-lg-2 col-sm-3 col-6">
        <label for="fechaIngreso" class="form-label"><b>Fecha de ingreso</b></label>
        <div id="fechaIngreso" class="texto">{{fechaIngreso}}</div>
    </div>
    <div class="col-lg-2 col-sm-5 col-6">
        <label for="horaIngreso" class="form-label"><b>Hora de ingreso</b></label>
        <div id="horaIngreso" class="texto">{{horaIngreso}} hs</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-12 mb-2">
        <label for="sector" class="form-label"><b>Sector</b></label>
        <select id="sector" (change)="listarEmpleadosPorSector($event)" class="form-select" aria-label="Default select example">
            <option selected>Seleccione sector</option>
            <option *ngFor="let item of listaSectores">{{item}}</option>
        </select>
    </div>
    <div class="col-sm-6 col-12 mb-2">
        <label for="personaAVisitar" class="form-label"><b>Visitar a</b></label>
        <select id="personaAVisitar" (change)="guardarPersonaAVisitar($event)" class="form-select" aria-label="Default select example">
            <option selected value="">Seleccione persona a visitar</option>
            <option *ngFor="let item of listaPersonas">{{item}}</option>
        </select>
    </div>
</div>
<div class="row justify-content-end mb-3">
    <button class="col-3 col-sm-2 btn btn-warning me-3 mt-2" [disabled]="personaAVisitar==''" (click)="crearVisita(inputNroIngreso.value)">Ingresar</button>
</div>
