.titulo{
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.texto{
    line-height: 38px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
