.titulo{
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.texto{
    line-height: 38px;
}
.btn-container{
  position: relative;
}
.btn-consultar{
  position: absolute;
  top: 32px;
}
.text-danger{
  width: 45vw;
}
@media (max-width: 576px) {
  .text-danger{
    width: 100%;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
