<h2 class="titulo">Datos de la visita</h2>
<div class="row align-items-end">
    <div class="col-sm-4 col-8 mb-2">
        <label for="inputDNI" class="form-label"><b>DNI</b></label>
        <input type="number" id="inputDNI" class="form-control" placeholder="Ingrese DNI" aria-describedby="dniError">
        <div id="dniError" class="text-danger" hidden>
            Debe ser un número de 7 u 8 dígitos.
        </div>
    </div>
    <div class="col-sm-3 col-3 mb-2">
        <button class="btn btn-warning">Consultar</button>
    </div>
    <div class="col-sm-4 col-12 mb-12">
        <label for="name" class="form-label"><b>Nombre y apellido</b></label>
        <div id="name" class="texto">{{name}}</div>
    </div>
</div>
<hr>
<div class="row mb-2">
    <div class="col-sm-4 col-12 mb-2">
        <label for="inputNroIngreso" class="form-label"><b>Nro. de tarjeta de ingreso</b></label>
        <input type="number" id="inputNroIngreso" class="form-control" placeholder="Ingrese número" aria-describedby="nroIngresoError">
        <div id="nroIngresoError" class="text-danger" hidden>
            Debe ser un número de 8 dígitos.
        </div>
    </div>
    <div class="col-sm-3 col-6">
        <label for="fechaIngreso" class="form-label"><b>Fecha de ingreso</b></label>
        <div id="fechaIngreso" class="texto">{{fechaIngreso}}</div>
    </div>
    <div class="col-sm-5 col-6">
        <label for="horaIngreso" class="form-label"><b>Hora de ingreso</b></label>
        <div id="horaIngreso" class="texto">{{horaIngreso}} hs</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-12 mb-2">
        <label for="sector" class="form-label"><b>Sector</b></label>
        <select id="sector" class="form-select" aria-label="Default select example">
            <option selected>Seleccione sector</option>
            <option [value]="item" *ngFor="let item of listaSectores">{{item}}</option>
        </select>
    </div>
    <div class="col-sm-6 col-12 mb-2">
        <label for="personaAVisitar" class="form-label"><b>Visitar a</b></label>
        <select id="personaAVisitar" class="form-select" aria-label="Default select example">
            <option selected>Seleccione persona a visitar</option>
            <option [value]="item" *ngFor="let item of listaPersonas">{{item}}</option>
        </select>
    </div>
</div>
<div class="row justify-content-end">
    <button class="col-3 col-sm-2 btn btn-warning me-3 mt-2">Ingresar</button>
</div>